*{
    margin: 0
}
.home_section{
    margin: 20px;  
}
.left{
   width: 50%;
   float: left;
}
.right{
    float: right;
    width: 50%;
}
.right img{
    width: 450px;
    margin-left: 150px;
    margin-top: 66px;
   
}
.header{
    margin-top: 200px;
    margin-bottom: 20px;
    color: #36622b;
    font-size: 60px;
}
.left .content{
    font-size: 30px;
    color: #729d39;
    line-height: 50px;
}
.content a{
    color: #729d39;
}